:root {
    --main-color: #fefefe;
    --main-background: url("http://pattern4site.ru/images/pattern/_rebig/7-fon-dlya-sayta.png");
    --main-text-color: #424242;
    --dark-bg: #546e7a;
    --main-size: 16px;
    --standart-bold: 600;
    --standart-width: 100%;
    --standart-height: 100%;
    --logo-size: 75px;
}

html {
    font-size: var(--main-size);
    color: var(--main-text-color);
    background: var(--main-background);
}

h5 {
    font-weight: var(--standart-bold);
}

.h2-text h2{
    font-size: 1.7vw;
    display: inline-block;
}

.text-size {
    font-size: 1.625rem;
    font-weight: 300;
    font-style: italic;
}

button.text-size{
    font-weight: 400;
    font-style: normal;
}

[type="checkbox"]:checked+label:before{
    border-right: 2px solid var(--dark-bg);
    border-bottom: 2px solid var(--dark-bg);
}

[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
    top:3px;
    left:12px;
    width:15px;
    height:15px;
}

[type="checkbox"]:checked+label:before{
    left:0px;
}

label[for="check"]{
    font-size: .8rem;
    color: var(--dark-bg);
    font-weight: 500;
    margin-bottom: 30px;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
    margin: 0 0 10px 0;
}

input[type=text], input[type=email]{
    box-shadow: 0px 0px 0px !important;
    border: inset 2px #d4d4d4 !important;
    border-top-color: white !important;
    border-left-color: white !important;
    padding: 0px 10px !important;
    background-color: #e1e1e1 !important;
}

input[type="email"]:focus, input[type="text"]:focus {
    border-color: #c5c5c5 !important;
    border-left-color: #d7d7d7 !important;
    border-top-color: #dcdcdc !important;
}

input::placeholder{
    color: var(--dark-bg);
}

nav ul#nav-mobile>li>a{
    color: #546e7a;
    text-shadow: 1px 1px 1px white;
    font-weight:bold;
}

nav ul#nav-mobile>li>a:hover{
    color: white;
    background-color: rgba(84, 110, 122, 0.6);  
}

.advantage~p {
    font-size: 1.25rem;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.adaptive-block1 {
    font-size: 3rem;
    padding-top: 3em;
    font-weight: bold;
}

button.full-width {
    width: var(--standart-width);
}

strong.advantage {
    font-size: 5rem;
}

.logo {
    width: var(--logo-size);
}

.h0 {
    height: 0;
}

.mb-0 {
    margin-bottom: 0px;
}

.parallax-photo {
    height: 300px;
    clip-path: polygon(0% 0%, -2% 0%, 100% 7%, 100% 100%, 0% 93%, 0% 7%);
}

.parallax-photo-inverse {
    height: var(--standart-height);
    clip-path: polygon(0px 3%, 100% 0%, 100% 100%, 100% 100%, 100% 97%, 0px 100%);
}

.more-about {
    margin: 65px 0;
    font-size: 1.125rem;
    font-weight: 300;
}

.main_photo {
    background-image: url(../img/main/mountains.jpg);
    display: block;
    height: 600px;
    background-size: cover;
    background-position: center;
}

.posrel{
    position:relative;
}

.mb-20{
    margin-bottom:20px;
}

.mt-20{
    margin-top:20px;
}

.submit-but{
    border: 0;
    padding: 10px 45px;
    float:left;
}

.form-img{
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    object-fit: cover;
    position: absolute;
}

.mt-50{
    margin-top:50px;
}

.mb-60{
    margin-bottom:60px;
}

.mt-60{
    margin-top:60px;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background-color: var(--dark-bg);
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    box-shadow: 1px 3px 8px #546e7a;
}
#back-to-top>.fa-angle-up{
    font-size:29px;
}

#back-to-top.show {
    opacity: 1;
}