:root {
  --header-color: #555;
}

body{
	background-color: var(--header-color);
}

.logo{
	width:75px;
}

.h0{
	height:0;
}

.mb-0{
	margin-bottom: 0px;
}

.main_photo{
	background-image: url(../img/mountains.jpg);
	display: block;
	height: 500px;
	background-size: cover;
	background-position: center;
}